
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title><b>Great EATS!</b></title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>

		<style>
      body{
        background: radial-gradient(#2E86C1,  #85C1E9, #D6EAF8);
      }</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>